// VARIABLER

//Skrifttyper
$header-font: "caveat-brush", sans-serif;
$p-font: "arial", sans-serif;

//Farver
$brown: #50373e;
$butter: burlywood;
$creme: bisque;
$antique: antiquewhite;

//MIXINS

@mixin flex(){
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button(){
    border: solid 2px;
    border-color: $brown;
    border-radius: 8em;
    background-color: $brown;
    padding: 2%;
    color: bisque;
    font-family: $p-font;
    font-size: 1em;
    text-decoration: none;

        &:hover{
            background-color: antiquewhite;
            color: $brown;
        }
}

@mixin article(){
    width: 30em;
    padding: 5%;
    color: $brown;

    img{
        width: 100%;
        border-radius: 50em;
    }
    h3{
        font-size: 2em;
        margin-bottom: 2%;
    }
    p{
        font-family: $p-font;
    }
}