@use 'partials';
*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
}

img{
    width: 100%;
}

h1, h2, h3{
    font-family: partials.$header-font;
}


//HEADER

header{
    @include partials.flex;
    

        nav{
            height: 4em;
            margin: 2%;
        }

            .mobile{
                display: none;
            }

            ul{
                @include partials.flex;
                list-style: none;
                font-family: partials.$header-font;
                gap: 2em;
                font-size: 2em;
            }

                a{
                    color: partials.$brown;
                    text-decoration: none;
                

                    &:hover{
                        color: burlywood;
                        background-color: partials.$brown;
                        border-radius: 2em;
                        padding: 4%;
                    }

                    .active{
                        background-color: partials.$brown;
                        color: antiquewhite;
                        border-radius: 2em;
                        padding: 4%;
                    }
                }

}

//Banner

.banner{
    margin-bottom: 1em;
    height: 100vh;
    overflow-y: scroll;

    img{
        position: relative;
    }

    .banner-tekst{
        top: 5em;
        margin: 5% 5%;
        position: absolute;
        background-color: rgba(partials.$brown, $alpha: 0.5);
        padding: 2%;
        border-radius: 2em;
    }

        h1{
            font-size: 4rem;
            color: antiquewhite;
        }

        p{
            font-family: partials.$p-font;
            font-size: 1.5rem;
            color: antiquewhite;
            line-height: 1.5;
            padding-top: 2%;
        }
}

//FORSIDE

//h2

h2{
    font-size: 2.5rem;
    text-align: center;
    color: partials.$brown;
    margin: 0 2%
}

//CTA-bokse
.cta-container{
    @include partials.flex;
    flex-wrap: wrap;
}
.cta-emne{
    width: 400px;
    padding: 2em;
    margin: 2em auto;
    background-color: bisque;
    text-align: center;
    color: partials.$brown;
    border-radius: 4em;

        img{
            display: block;
            margin: 0 auto;
            width: 80%;
            border-radius: 4em;
        }

        h3{
            font-size: 2em;
        }

        p{
            font-family: partials.$p-font;
            font-size: 1em;
            margin: 4%;
        }

        a{
           @include partials.button;
        }
}

//FOOTER

footer{
    background-color: partials.$brown;
    color: antiquewhite;
    font-family: partials.$p-font;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 6%;
    line-height: 2em;

        ul{
            list-style: none;
        }

        a{
            text-decoration: none;
            color: antiquewhite;

                &:hover{
                    color: bisque;
                }
        }

        i{
            font-size: 5em;
            align-self: center;
        }
}

//MEDIA QUERIES

@media screen and (max-width: 890px){
    
header{
    .mobile{
        display: block;
        justify-content: space-between;
        font-size: 4em;
    }
    .desktop{
        display: none;
    }
}

}