@use 'partials';
*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: partials.$antique;
}

img{
    width: 100%;
}

h1, h2, h3{
    font-family: partials.$header-font;
}
main{
    h2{
        margin: 4%;
    }
}


//HEADER

header{
    @include partials.flex;
    

        nav{
            height: 4em;
            margin: 2%;
        }

            .mobile{
                display: none;
            }

            ul{
                @include partials.flex;
                list-style: none;
                font-family: partials.$header-font;
                gap: 2em;
                font-size: 2em;
            }

                a{
                    color: partials.$brown;
                    text-decoration: none;
                

                    &:hover{
                        color: partials.$butter;
                        background-color: partials.$brown;
                        border-radius: 2em;
                        padding: 4%;
                    }
                }

}

.active{
    background-color: partials.$butter;
    color: partials.$brown;
    border-radius: 2em;
    padding: 4%;

}


//Banner

.banner{
    
    height: 30em;
    overflow-y: scroll;

    img{
        position: relative;
    }

    .banner-tekst{
        top: 5em;
        margin: 5% 5%;
        position: absolute;
        background-color: rgba(partials.$brown, $alpha: 0.5);
        padding: 2%;
        border-radius: 2em;
    }

        h1{
            font-size: 4rem;
            color: partials.$antique;
        }

        p{
            font-family: partials.$p-font;
            font-size: 1.5rem;
            color: partials.$antique;
            line-height: 1.5;
            padding-top: 2%;
        }
}

//FORSIDE

//h2

h2{
    font-size: 2.5rem;
    text-align: center;
    color: partials.$brown;
    margin: 0 2%
}

//CTA-bokse
.cta-container{
    @include partials.flex;
    flex-wrap: wrap;
}
.cta-emne{
    width: 400px;
    padding: 2em;
    margin: 2em auto;
    background-color: partials.$creme;
    text-align: center;
    color: partials.$brown;
    border-radius: 4em;

        img{
            display: block;
            margin: 0 auto;
            width: 80%;
            border-radius: 4em;
        }

        h3{
            font-size: 2em;
        }

        p{
            font-family: partials.$p-font;
            font-size: 1em;
            margin: 4%;
        }

        a{
           @include partials.button;
        }
}

.article-section{
    @include partials.flex;
    flex-wrap: wrap;
    article{
        @include partials.article;
    }
}

//Kontakt

.kontakt-button{
    display: block;
    margin: 0 auto 10%;
    text-align: center;

    p{
        font-family: partials.$p-font;
        padding: 5%;
        font-size: 1.5em;
        color: partials.$brown;
    }
    a{
        @include partials.button;
    }
}

//Kontaktform

.form-bg{
    background-color: partials.$butter;
    color: partials.$brown;
    @include partials.flex;

    .form{
        background-color: partials.$creme;
        width: 60%;
        padding: 1em;
        margin: 2em auto;
        border-radius: 4em;
    }
        h3{
            font-size: 2em;
            text-align: center;
        }
        .form-elementer{
            display: flex;
        }
        input, textarea{
            width: 100%;
            font-size: 1em;
            padding: 1em;
            border: 2px solid partials.$brown;
            border-radius: 1em;
            box-sizing: border-box;
            margin: 1em auto;
            font-family: partials.$p-font;
        }
        button{
            @include partials.button;
            display: block;
            margin: 0 auto;
            cursor: pointer;
        }
}

.visually-hidden{ //Lånt for at fjerne beskrivende tekst visuelt mens det stadig er tilgængeligt for skærmlæser
    position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0,0,0,0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}

//FOOTER

footer{
    background-color: partials.$brown;
    color: partials.$antique;
    font-family: partials.$p-font;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 6%;
    line-height: 2em;

        ul{
            list-style: none;
        }

        a{
            text-decoration: none;
            color: partials.$antique;

                &:hover{
                    color: partials.$butter;
                }
        }

        i{
            font-size: 5em;
            align-self: center;
        }
}

//MEDIA QUERIES

@media screen and (max-width: 890px){
    
header{
    .mobile{
        display: block;
        font-size: 4em;
    }
    .desktop{
        display: none;
    }
}

}